<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="container">
<!--Tela casdastro PF PJ-->
<div id="card-cad" class="container cad-form" style="min-width: 30%; width: 45%;">
  <label class="std-font-grey" style="font-size:20px; text-align:center">Conte um pouco sobre vc ;)</label>
  <div class="card card-grey">
    <div class="card-body">
      <div class="row align-items-center justify-content-center">
        <div class="col-4" align="right">
          <label class="std-font-grey" style="margin-top: 5px;">Sou</label>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.select :pf_pj, pfpj%>
          </div>
        </div>
      </div>
      <!--Pessoa física-->
      <div id="pf">
        <div class="row align-items-center justify-content-center">
          <div class="col-4" align="right">
            <label class="std-font-grey" style="margin-top: 5px;">Meu nome é</label>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.text_field :nome, :class => "form-control-yellow form-control", :placeholder => "Nome" %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.text_field :sobrenome, :class => "form-control-yellow form-control", :placeholder => "Sobrenome" %>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-4" align="right">
            <label class="std-font-grey" style="margin-top: 5px;">Meu CPF é</label>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.text_field :cpf, :class => "form-control-yellow form-control", :placeholder => "CPF" %>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-4" align="right">
            <label class="std-font-grey" style="margin-top: 5px;">Documento Pessoal</label>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.text_field :documento, :class => "form-control-yellow form-control", :placeholder => "Ex: RG" %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.text_field :orgao_emissor, :class => "form-control-yellow form-control", :placeholder => "Órgão Emissor" %>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-4" align="right">
            <label class="std-font-grey" style="margin-top: 5px;">UF e Data de Emissão</label>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.select :estado_emissor, states%>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.date_field :data_emissao, :class => "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <!--Pessoa jurídica-->
      <div id="pj">
        <div class="row align-items-center justify-content-center">
          <div class="col-4" align="right">
            <label class="std-font-grey" style="margin-top: 5px;">Nome Fantasia</label>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.text_field :nome_fantasia, :class => "form-control-yellow form-control", :placeholder => "Nome" %>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-4" align="right">
            <label class="std-font-grey" style="margin-top: 5px;">Razão Social</label>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.text_field :razao_social, :class => "form-control-yellow form-control", :placeholder => "Razão Social" %>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-4" align="right">
            <label class="std-font-grey" style="margin-top: 5px;">Com CNPJ</label>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.text_field :cnpj, :class => "form-control-yellow form-control", :placeholder => "CNPJ" %>
            </div>
          </div>
        </div>
      </div>
      <!--Menu continuar-->
      </br></br>
      <div class="actions row justify-content-md-center">
          <div class="col-md-auto">
            <a class="btn btn-link esp-link" href="/">Voltar</a>
          </div>
          <div class="col-md-auto"></div>
            <%= f.submit "Continuar", :class => "std-btn", :style => "margin-left: 100px"%>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Tela cadastro endereço-->
<div class="container cad-form" style="width: max-content;">
  <label class="std-font-grey" style="font-size:20px; text-align:center">Fale sobre o seu endereço</label>
  <div class="card card-grey">
    <div class="card-body">
      <!--CEP-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px"> O endereço fica no CEP</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :cep, :class => "form-control-yellow form-control", :placeholder => "CEP"%>
        </div>
      </div>
      <!--Rua, número-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">Na</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :logradouro, :class => "form-control-yellow form-control", :placeholder => "rua, avenida"%>
        </div>
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">, número</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :numero, :class => "form-control-yellow form-control", :placeholder => "número, km"%>
        </div>
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">,</label>
        </div>
      </div>
      <!--Complemento-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">complemento</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :complemento, :class => "form-control-yellow form-control", :placeholder => "casa, apto."%>
        </div>
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">,</label>
        </div>
      </div>
      <!--Bairro, cidade-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">bairro</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :bairro, :class => "form-control-yellow form-control", :placeholder => "bairro"%>
        </div>
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">, em</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :cidade, :class => "form-control-yellow form-control", :placeholder => "cidade"%>
        </div>
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">,</label>
        </div>
      </div>
      <!--Estado-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">no estado de</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :estado, :class => "form-control-yellow form-control", :placeholder => "estado"%>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="field">
  <%= f.label :cpf %>
  <%= f.text_field :cpf, autofocus: true, maxlength: "14" %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div> 
<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div> -->

<div class="container cad-form" style="width: max-content;">
    <label class="std-font-grey" style="font-size:20px; text-align:center">Vamos manter sua conta segura</label>
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center" style="padding-left;: 0px">
          <div class="col-4">
            <p class="std-font-grey"></p>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-4" style="margin-top: 10px">
            <p class="std-font-grey">O e-mail é</p>
          </div>
          <div class="col">                                                                                                                                            
            <div class="form-group">
              <!-- <%= f.text_field :nome, :class => "form-control", :placeholder => "exemplo@gmail.com" %><br /> -->
            </div>
          </div>
    
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-4">
            <p class="std-font-grey">Confirme o seu e-mail</p>
          </div>
          <div class="col">
            <div class="form-group">
            <!-- <%= f.email_field :password, :class => "form-control", :placeholder => "exemplo@gmail.com" %><br /> -->
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-4" style="padding-right: 0px">
            <p class="std-font-grey">Qual vai ser sua senha?</p>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.password_field :password, :class => "form-control", :placeholder => "Senha" %><br />
            </div>
          </div>
        </div>
        <div class="row align-items-center" >
            <div class="col-4" style="padding-right: 0px">
              <p class="std-font-grey">Repita, por favor</p>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Senha" %><br />
              </div>
            </div>
          </div>
          
          <div class="col">
              <!--Cadastrar-->
              <%= f.submit "Cadastrar", :class => "std-btn"%>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!--Voltar para login-->
<%= link_to "Voltar para login", new_session_path(resource_name), :class => "btn btn-link std-link-purple", :style => "color: #a24dc2ff"%>
</div>

<script>
  $(document).ready(function () {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    $("#user_data_emissao").attr("max", today);
  })

  $(document).ready(function () {
    $('select').attr("class", "form-control");
  });

  $(document).ready(function () {
    // $('#error_explanation').remove();
  });

  $(document).ready(function () {
    $('#pj').hide();
    $('#pf').show();
    $('#user_pf_pj').change(function () {
      if ($('#user_pf_pj option:selected').val() == 'PF') {
        $('#pj').hide();
        $('#pf').show();
      } else if ($('#user_pf_pj option:selected').val() == 'PJ') {
        $('#pf').hide();
        $('#pj').show();
      }
    });
  })
</script>
