<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="container">
  <!--Tela casdastro PF PJ-->
  <div id = "cadastro1" class="container" style="max-width: 750px; padding: 25px;">
    <label class="std-font-grey" style="font-size:20px; text-align:center">Conte um pouco sobre vc ;)</label>
    <div class="card card-grey">
      <div class="card-body">
        <div class="row align-items-center justify-content-center">
          <div class="col-4" align="right">
            <label class="std-font-grey" style="margin-top: 5px;">Sou</label>
          </div>
          <div class="col-8">
            <div class="form-group">
              <%= f.select :pf_pj, pfpj, :class => "form-control", autofocus: true  %>
            </div>
          </div>
        </div>
        <!--Pessoa física-->
        <div id="pf">
          <div class="row align-items-center justify-content-center">
            <div class="col-4" align="right">
              <label class="std-font-grey" style="margin-top: 5px;">Meu nome é</label>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.text_field :nome, autofocus: true, :class => "form-control-yellow form-control", :placeholder => "Nome" %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.text_field :sobrenome, :class => "form-control-yellow form-control", :placeholder => "Sobrenome" %>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-4" align="right">
              <label class="std-font-grey" style="margin-top: 5px;">Meu CPF é</label>
            </div>
            <div class="col-8">
              <div class="form-group">
                <%= f.text_field :cpf, :class => "form-control-yellow form-control", :placeholder => "CPF", :maxlength => "14" %>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-4" align="right">
              <label class="std-font-grey" style="margin-top: 5px;">Documento Pessoal</label>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.text_field :documento, :class => "form-control-yellow form-control", :placeholder => "Ex: RG", :type => "number" %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.text_field :orgao_emissor, :class => "form-control-yellow form-control", :placeholder => "Órgão Emissor" %>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-4" align="right">
              <label class="std-font-grey" style="margin-top: 5px;">UF e Data de Emissão</label>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.select :estado_emissor, states%>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.date_field :data_emissao, :class => "form-control" %>
              </div>
            </div>
          </div>
        </div>
        <!--Pessoa jurídica-->
        <div id="pj">
          <div class="row align-items-center justify-content-center">
            <div class="col-4" align="right">
              <label class="std-font-grey" style="margin-top: 5px;">Nome Fantasia</label>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.text_field :nome_fantasia, :class => "form-control-yellow form-control", :placeholder => "Nome" %>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-4" align="right">
              <label class="std-font-grey" style="margin-top: 5px;">Razão Social</label>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.text_field :razao_social, :class => "form-control-yellow form-control", :placeholder => "Razão Social" %>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-4" align="right">
              <label class="std-font-grey" style="margin-top: 5px;">Com CNPJ</label>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.text_field :cnpj, :class => "form-control-yellow form-control", :placeholder => "CNPJ" %>
              </div>
            </div>
          </div>
        </div>
        <!--Menu continuar-->
        </br></br>
        <div class="actions container" style="max-width: 350px">
          <div class="row justify-content-center">
            <%= f.submit "Continuar", :class => "std-btn"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Tela cadastro endereço-->
<div id="cadastro2" class="container" style="max-width: 750px; padding: 25px;">
  <label class="std-font-grey" style="font-size:20px; text-align:center">Fale sobre o seu endereço</label>
  <div class="card card-grey">
    <div class="card-body">
      <!--CEP-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px"> O endereço fica no CEP</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :cep, :class => "form-control-yellow form-control", :placeholder => "CEP"%>
        </div>
      </div>
      <!--Rua, número-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">Na</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :logradouro, :class => "form-control-yellow form-control", :placeholder => "rua, avenida"%>
        </div>
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">número</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :numero, :class => "form-control-yellow form-control", :placeholder => "número, km"%>
        </div>
      </div>
      <!--Complemento-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">complemento</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :complemento, :class => "form-control-yellow form-control", :placeholder => "casa, apto."%>
        </div>
      </div>
      <!--Bairro, cidade-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">bairro</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :bairro, :class => "form-control-yellow form-control", :placeholder => "bairro"%>
        </div>
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">em</label>
        </div>
        <div class="col-md-auto">
          <%= f.text_field :cidade, :class => "form-control-yellow form-control", :placeholder => "cidade"%>
        </div>
      </div>
      <!--Estado-->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <label class="std-font-grey-lg" style="margin-top: 15px">no estado de</label>
        </div>
        <div class="col-md-auto" style="margin-top: 5px">
          <%= f.select :estado, states, :class => "form-control-yellow form-control", :placeholder => "estado"%>
        </div>
      </div>
      <!--Menu continuar-->
      </br></br>
      <div class="actions container" style="max-width: 350px">
        <div class="row justify-content-center">
          <div class="col">
            <a class="btn btn-link esp-link" href="/">Voltar</a>
          </div>
          <div class="col"></div>
          <%= f.submit "Continuar", :class => "std-btn"%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="myModal" class="modal fade rounded mr-2" tabindex="-1" role="alert">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="color: blueviolet;">
      <div class="modal-header">
        <p class="modal-title std-font-grey">CEP inválido</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


<%= f.text_field :email %>
<%= f.password_field :password %>
<%= f.password_field :password_confirmation %>

<% end %>
<!--Voltar para login-->
<div class="row justify-content-center">
  <%= link_to "Voltar para login", new_session_path(resource_name), :class => "btn btn-link std-link-purple", :style => "color: #a24dc2ff"%>
</div>
</div>

<script>

  $(document).ready(function () {
    $('#user_cpf').mask('000.000.000-00');
    $('#user_cep').mask('00000-000');
    $('#user_cnpj').mask('00.000.000/0000-00');
  })

  $(document).ready(function () {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    $("#user_data_emissao").attr("max", today);
  })

  $(document).ready(function () {
    $('select').attr("class", "form-control");
  });

  $(document).ready(function () {
    if ($('#user_pf_pj option:selected').val() == 'PF') {
      $('#pj').hide();
      $('#pf').show();
    } else if ($('#user_pf_pj option:selected').val() == 'PJ') {
      $('#pf').hide();
      $('#pj').show();
    }
  });

  //Altera cor do campo CPF se for um formato inválido
  $(document).ready(function () {
    $('#user_cpf').change(function () {
      var filtrocpf = /\d{3}\.\d{3}\.\d{3}\-\d{2}/;
      if (!(filtrocpf.test($(this).val()))) {
        $(this).attr('style', 'border-color: red');
      } else {
        $(this).attr('style', 'border-color: #586871');
      }
    })
  })

  //Troca entre o Form de PF e PJ
  $(document).ready(function () {
    $('#user_pf_pj').change(function () {
      if ($('#user_pf_pj option:selected').val() == 'PF') {
        $('#pj').hide();
        $('#pf').show();
      } else if ($('#user_pf_pj option:selected').val() == 'PJ') {
        $('#pf').hide();
        $('#pj').show();
      }
    });
  })

  //Completar endereço via CEP
  $(document).ready(function () {

    function limpa_formulário_cep() {
      // Limpa valores do formulário de cep.
      $("#user_logradouro").val("");
      $("#user_bairro").val("");
      $("#user_cidade").val("");
      $("#user_estado").val("");
      $('#user_logradouro').attr("disabled", false).css("background-color", "transparent");
      $('#user_bairro').attr("disabled", false).css("background-color", "transparent");
      $('#user_cidade').attr("disabled", false).css("background-color", "transparent");
      $('#user_estado').attr("disabled", false).css("background-color", "transparent");
    }

    //Quando o campo cep perde o foco.
    $("#user_cep").blur(function () {

      //Nova variável "cep" somente com dígitos.
      var cep = $(this).val().replace(/\D/g, '');

      //Verifica se campo cep possui valor informado.
      if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        //Valida o formato do CEP.
        if (validacep.test(cep)) {

          //Preenche os campos com "..." enquanto consulta webservice.
          $("#user_logradouro").val("...");
          $("#user_bairro").val("...");
          $("#user_cidade").val("...");

          //Consulta o webservice viacep.com.br/
          $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

            if (!("erro" in dados)) {
              //Atualiza os campos com os valores da consulta.
              $("#user_logradouro").val(dados.logradouro);
              $("#user_bairro").val(dados.bairro);
              $("#user_cidade").val(dados.localidade);
              $("#user_estado").val(dados.uf);
              $('#user_logradouro').attr("disabled", true).css("color", "grey");
              $('#user_bairro').attr("disabled", true).css("color", "grey");
              $('#user_cidade').attr("disabled", true).css("color", "grey");
              $('#user_estado').attr("disabled", true).css("color", "grey");
            } //end if.
            else {
              //CEP pesquisado não foi encontrado.
              limpa_formulário_cep();
              alert("CEP não encontrado.");
            }
          });
        } //end if.
        else {
          //cep é inválido.
          limpa_formulário_cep();
          alert("Formato de CEP inválido.");
        }
      } //end if.
      else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
      }
    });
  });
//Troca de 
</script>