<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="container cad-form" style="width: max-content;">
  <label class="std-font-grey" style="font-size:20px; text-align:center">Conte um pouco sobre vc ;)</label>
  <div class="card">
    <div class="card-body">
      <div class="row align-items-center justify-content-center">
        <div class="col-4">
          <p class="std-font-grey">Sou</p>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.select :pf_pj, pfpj, :class => "form-control" %><br />
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-4">
          <p class="std-font-grey">Meu nome é</p>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.text_field :nome, :class => "form-control", :placeholder => "Nome" %><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.text_field :sobrenome, :class => "form-control", :placeholder => "Sobrenome" %><br />
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-4">
          <p class="std-font-grey">Meu CPF é</p>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.text_field :cpf, :class => "form-control", :placeholder => "CPF" %><br />
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-4">
          <p class="std-font-grey">Documento Pessoal</p>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.text_field :documento, :class => "form-control", :placeholder => "Ex: RG" %><br />
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-4">
          <div class="form-group">
            <%= f.text_field :orgao_emissor, :class => "form-control", :placeholder => "Órgão Emissor" %><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.select :estado_emissor, states, :class => "form-control" %><br />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.date_field :data_emissao, :class => "form-control" %><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :cpf %><br />
  <%= f.text_field :cpf, autofocus: true, maxlength: "14" %>
</div>


<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div> -->

<div class="actions">
  <%= f.submit "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>


<script>

  $(document).ready(function () {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    $("#user_data_emissao").attr("max", today);
  })

  $(document).ready(function () {
    $('select').attr("class", "form-control");
  });


</script>