<html>

<div class="container-fluid"
    style="background-image: url('/assets/assistance.jpg'); background-size: cover; border-radius: 0 0 100px 100px; font-family: Futura; max-height: 800px;">
    <div id="texto1" style="display: none;" class="row">
        <div id="text" style="margin-top: 120px; margin-bottom: 150px; margin-left: 240px;" class="col">
            <h1 style="color: white; font-size: 70px;">Bem-vindo ao</h1>
            <h1 style="color: white; font-size: 70px;">Youse Assistance</h1>
            <br>
            <h3 style="color: white; font-size: 30px;">Se liga nas assistencias que</h3>
            <h3 style="color: white; font-size: 30px;">a Youse disponibiliza</h3>
            <h3 style="color: white; font-size: 30px;">para <b>você</b>!</h3>
        </div>
        <!-- <div id="friends_car_img" style="margin-top: 100px; margin-right: 150px; display: none;" class="col">
            <%= image_tag "friends.png", :style => "width: 400px"%>
        </div> -->
    </div>
    <div class="row" align="center" style="position: relative; bottom: 10px;">
        <div class="col">
            <h4 id="saibamais" style="display: none; color: white;">Saiba mais informações</h4>
        </div>
    </div>
    <div class="row" align="center" style="position: relative; bottom: 10px;">
        <div class="col">
            <a href="#friends_content" style="text-decoration: none; background-color: transparent;"><i
                    id="trigger_friends" href="#friends_content_1" class="material-icons pulsate-fwd"
                    style="color: #f6af42ff; font-size: 70px;">expand_more</i></a>
        </div>
    </div>
</div>


<!-- Youse Friends -->
<div id="friends_content_1" style="font-family: Futura; margin-top: 100px; display: none; background-color: #EFEFEF;"
    class="row justify-content-left" align="center">
    <div class="col" align="left" style="margin-left: 240px; margin-top: 100px; margin-bottom: 100px;">
        <h1 style="color: #602F9F; font-size: 60px;">Explore as Assistências</h1>
        <h1 style="color: #602F9F; font-size: 60px;">do Seguro Auto Youse</h1>
        <br>
        <h3 style="color: gray; font-size: 20px;">Com as assistências do Seguro
        </h3>
        <h3 style="color: gray; font-size: 20px;">Auto Youse, você tem todos
        </h3>
        <h3 style="color: gray; font-size: 20px;">os serviços que precisa pra 
        </h3>
        <h3 style="color: gray; font-size: 20px;">deixar o carro numa boa.</h3>
    </div>
    <div class="col" style="margin-right: 200px; margin-top: 120px; margin-bottom: 50px;">
        <%= image_tag "servico_leva_traz.png", :style => "width: 600px"%>
    </div>
</div>
<div id="friends_content_2" style="font-family: Futura; display: none;"
    class="row justify-content-left" align="center">
    <div class="col" style="margin-left: 30px; margin-top: 120px; margin-bottom: 50px;">
        <%= image_tag "guincho2.png", :style => "width: 700px"%>
    </div>
    <div class="col" align="right" style="margin-right: 260px; margin-top: 100px; margin-bottom: 100px;">
        <h1 style="color: #602F9F; font-size: 60px;">O que oferecemos</h1>
        <h1 style="color: #602F9F; font-size: 60px;">de assistências</h1>
        <h1 style="color: #602F9F; font-size: 60px;">para <b>você</b>?</h1>
        <br>
        <h3 style="color: gray; font-size: 20px;">Possuímos as seguintes assistencias: 
        </h3>
        <h3 style="color: gray; font-size: 20px;">Automóvel, Carro Reserva, Chaveiro, 
        </h3>
        <h3 style="color: gray; font-size: 20px;">Faróis, lanternas e retrovisores,
        <h3 style="color: gray; font-size: 20px;">Reparos Completos, Serviço de leva e traz,
        </h3>
        <h3 style="color: gray; font-size: 20px;">Serviço de histórico veicular, Lavagem
        </h3>
        <h3 style="color: gray; font-size: 20px;">e Higienização, Assistências à Bike, 
        </h3>
        <h3 style="color: gray; font-size: 20px;">Motorista Youse, Restituição de IPVA,
        </h3>
        <h3 style="color: gray; font-size: 20px;">Reparos simples e Vidros.
        </h3>
    </div>
</div>
<div id="friends_content_3" style="font-family: Futura; display: none; background-color: #EFEFEF;"
    class="row justify-content-left" align="center">
    <div class="col" align="left" style="margin-left: 240px; margin-top: 100px; margin-bottom: 100px;">
        <h1 style="color: #602F9F; font-size: 60px;">Como eu utilizo</h1>
        <h1 style="color: #602F9F; font-size: 60px;">uma assistência</h1>
        <h1 style="color: #602F9F; font-size: 60px;">do meu Seguro</h1>
        <h1 style="color: #602F9F; font-size: 60px;"> Auto ?</h1>
        <br>
        <h3 style="color: gray; font-size: 20px;">Para acionar a sua assistência,
        </h3>
        <h3 style="color: gray; font-size: 20px;">você pode usar o nosso aplicativo
        </h3>
        <h3 style="color: gray; font-size: 20px;">ou ligar para os números 3003 5770
        </h3>
        <h3 style="color: gray; font-size: 20px;">(capitais e regiões metropolitanas) ou
        </h3>
        <h3 style="color: gray; font-size: 20px;">0800 730 9901 (demais localidades),
        </h3>
        <h3 style="color: gray; font-size: 20px;">de segunda a sábado, das 8h às 22h.
        </h3>
    </div>
    <div class="col" style="margin-right: 100px; margin-top: 130px; margin-bottom: 50px;">
        <%= image_tag "reparos_completos4.png", :style => "width: 600px"%>
    </div>
</div>

<!-- Outros Serviços -->
<div id="outros_servicos" style="display: none; margin-bottom: 150px;">
    <div id="outros_titulo" class="row justify-content-center"
        style="font-family: Futura; color: #602F9F; margin-top: 100px;" align="center">
        <div class="col">
            <h1>Outros Serviços</h1>
        </div>
    </div>
    <div id="produtos" style="font-family: Futura;" class="row justify-content-center" align="center">
        <div class="col">
            <%= image_tag "sinistro.png", :style => "width: 300px"%><br><br>
            <a href="/home/sinistro" class="btn std-btn">
                <z style="color: white;">Sinistro<z>
            </a>
        </div>
        <div class="col">
            <%= image_tag "friends.png", :style => "width: 300px"%><br><br>
            <a href="/home/yousefriends" class="btn std-btn">
                <z style="color: white;">Youse Friends<z>
            </a>
        </div>
    </div>
</div>

<div id="scorpion_footer" style="font-family: Futura; display: none; background-color: #EFEFEF;"
    class="row justify-content-left" align="center">
    <div class="col" align="center" style="margin-top: 10px; margin-bottom: 10px;">
        <h3 style="color: gray; font-size: 20px;"><b>Scorpion App</b></h3>
    </div>
</div>
</html>
              
<script>
    $(document).ready(function () {
        $('#texto1').slideDown(1000);
        $('#friends_car_img').slideDown(1000);
        $('#trigger_friends').fadeIn(2000);
        $('#saibamais').fadeIn(2000);

        $('#trigger_friends[href^="#"]').on('click', function (e) {
            e.preventDefault();
            $('#friends_content_1').show();
            $('#friends_content_2').show();
            $('#friends_content_3').show();
            $('#outros_servicos').show();
            $('#scorpion_footer').show();
            $('#container_prod').attr('style', 'margin-top: 100px; margin-bottom: 120px;');
            var id = $(this).attr('href'),
                targetOffset = $(id).offset().top;

            $('html, body').animate({
                scrollTop: targetOffset - 100
            }, 1000);
        });
    })
</script>