
<div class="table-responsive-md" style="margin-top: 80px;">
    <table class="table table-striped table-borderless" id="minhaTabela">

        <thead>
            <tr>
                <th hidden scope="col">ID</th>
                <th scope="col">Nome / Razão Social</th>
                <th scope="col">Email</th>
                <th scope="col">CPF / CNPJ</th>
                <th scope="col">Perfil</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |u| %>
            <% if u.pf_pj == "PF" %>
            <tr>
                <td hidden scope="row"><%= u.id %></td>
                <td scope="row"><%= u.nome %> <%= u.sobrenome %></td>
                <td><%= u.email %></td>
                <td><%= u.cpf %></td>
                <% if u.admin %>
                <td>Admin</td>
                <% else %>
                <td>Membro</td>
                <% end %>
            </tr>
            <% elsif u.pf_pj == "PJ" %>
            <tr>
                <td hidden scope="row"><%= u.id %></td>
                <td scope="row"><%= u.razao_social %></td>
                <td><%= u.email %></td>
                <td><%= u.cnpj %></td>
                <% if u.admin %>
                <td>Admin</td>
                <% else %>
                <td>Membro</td>
                <% end %>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
    <div align="center">
        <button id="btn-ant" class="btn btn-link std-link" type="button" style="background-color: transparent;">‹
            Anterior</button>
        <button id="btn-prox" class="btn btn-link std-link" type="button" style="background-color: transparent;">Próxima
            ›</button>
    </div>
</div>


<form>
    <div style="padding-top: 40px; padding-left: 20px; padding-bottom: 20px;">
        <button id="btn-export-excel" style="color: white;" class="btn std-btn" type="button">Excel</button>
        <button id="btn-export-pdf" style="color: white;" class="btn std-btn" type="button">PDF</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('*').ready(function () {
            $('div.dt-buttons').hide();
        })
    })

    $(document).ready(function () {
        var table = $('#minhaTabela').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf'
            ],
            "order": [0, 'asc'],
            "paging": true,
            "pagingType": "simple",
            "pageLength": 10,
            "info": true,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "search": "",
                paginate: {
                    first: '',
                    previous: '',
                    next: '',
                    last: ''
                },
                aria: {
                    paginate: {
                        first: '',
                        previous: '',
                        next: '',
                        last: ''
                    }
                }
            }
        }).page.info();

        if(table.recordsTotal <= 10 || table.recordsDisplay <= 10){
            $('#btn-ant').hide();
            $('#btn-prox').hide();
        }

        $('#btn-export-excel').click(function () {
            $('.buttons-excel').trigger('click');
        })
        $('#btn-export-pdf').click(function () {
            $('.buttons-pdf').trigger('click');
        })
        $('#btn-ant').click(function () {
            $('#minhaTabela_previous').trigger('click');
        })
        $('#btn-prox').click(function () {
            $('#minhaTabela_next').trigger('click');
        })
    });

    $(document).ready(function () {
        $("[type='search']").addClass("form-control-yellow").attr("style", "width: 200px; height: 40px; padding-left: 10px; padding-right: 10px").attr("placeholder", "Pesquisar");
        // $('#minhaTabela_info').hide();
        $("[aria-label]").css("color", "purple");
        $("td").addClass("table-font-grey-md");
        $('#minhaTabela_previous').hide();
        $('#minhaTabela_next').hide();
    })
</script>