<div class="container-fluid"
    style="background-image: url('/assets/friends2.jpg'); border-radius: 0 0 100px 100px; font-family: Futura;">
    <div id="texto1" style="display: none;" class="row">
        <div id="text" style="margin-top: 120px; margin-bottom: 150px; margin-left: 240px;" class="col">
            <h1 style="color: white; text-shadow: 3px 3px gray; font-size: 70px;">Bem-vindo ao</h1>
            <h1 style="color: white; text-shadow: 3px 3px gray; font-size: 70px;">Youse Friends</h1>
            <br>
            <h3 style="color: white; text-shadow: 3px 3px gray; font-size: 30px;">O programa de recompensa</h3>
            <h3 style="color: white; text-shadow: 3px 3px gray; font-size: 30px;">pra quem tem um Seguro</h3>
            <h3 style="color: white; text-shadow: 3px 3px gray; font-size: 30px;">Auto Youse</h3>
        </div>
        <!-- <div id="friends_car_img" style="margin-top: 100px; margin-right: 150px; display: none;" class="col">
            <%= image_tag "friends.png", :style => "width: 400px"%>
        </div> -->
    </div>
    <div class="row" align="center" style="position: relative; bottom: 10px;">
        <div class="col">
            <h4 id="saibamais" style="display: none; color: white;">Saiba mais informações</h4>
        </div>
    </div>
    <div class="row" align="center" style="position: relative; bottom: 10px;">
        <div class="col">
            <a href="#friends_content" style="text-decoration: none; background-color: transparent;"><i
                    id="trigger_friends" href="#friends_content" class="material-icons pulsate-fwd"
                    style="color: #f6af42ff; font-size: 70px;">expand_more</i></a>
        </div>
    </div>
</div>

<!-- Youse Friends -->
<div id="friends_content" style="font-family: Futura; margin-top: 100px; display: none;"
    class="row justify-content-center" align="center">
    <div class="col">
        <%= image_tag "guincho.png", :style => "width: 300px"%><br><br>
        <a href="/home/assistencias" class="btn std-btn">
            <z style="color: white;">Assistências<z>
        </a>
    </div>
    <div class="col">
        <%= image_tag "sinistro.png", :style => "width: 300px"%><br><br>
        <a href="/home/sinistro" class="btn std-btn">
            <z style="color: white;">Sinistro<z>
        </a>
    </div>
</div>

<!-- Outros Serviços -->
<div id="outros_servicos" style="display: none;">
    <div id="outros_titulo" class="row justify-content-center"
        style="font-family: Futura; color: #602F9F; margin-top: 100px;" align="center">
        <div class="col">
            <h1>Outros</h1>
        </div>
    </div>
    <div id="produtos" style="font-family: Futura;" class="row justify-content-center" align="center">
        <div class="col">
            <%= image_tag "guincho.png", :style => "width: 300px"%><br><br>
            <a href="/home/assistencias" class="btn std-btn">
                <z style="color: white;">Assistências<z>
            </a>
        </div>
        <div class="col">
            <%= image_tag "sinistro.png", :style => "width: 300px"%><br><br>
            <a href="/home/sinistro" class="btn std-btn">
                <z style="color: white;">Sinistro<z>
            </a>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#texto1').slideDown(1000);
        $('#friends_car_img').slideDown(1000);
        $('#trigger_friends').fadeIn(2000);
        $('#saibamais').fadeIn(2000);

        $('#trigger_friends[href^="#"]').on('click', function (e) {
            e.preventDefault();
            $('#friends_content').show();
            $('#container_prod').attr('style', 'margin-top: 100px; margin-bottom: 120px;');
            var id = $(this).attr('href'),
                targetOffset = $(id).offset().top;

            $('html, body').animate({
                scrollTop: targetOffset - 100
            }, 1000);
        });
    })
</script>