<!DOCTYPE html>
<html>

<head>
  <title>AppScorpion</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
    integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU=" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="std-bg" style="margin:0px">
  <nav class="navbar std-bg-purple" style="height: 60px; position: fixed; top: 0; z-index: 1; width: 100%;">
    <% if user_signed_in? %>
    <a style="background-color: transparent;" href="/"><%= image_tag "ScorpionLogo.png", :style => "width: 225px"%></a>
    <ul class="navbar-nav">
      <div class="row">
        <% if current_user.admin &&  request.fullpath != "/home/list" %>
        <div class="col">
          <li class="nav-item">
            <%= link_to "Usuários", list_path, :style => "background-color: transparent; color: white;", :class => "btn btn-link std-link-white" %>
          </li>
        </div>
        <% end %>
        <% if request.fullpath != "/users/edit" %>
        <div class="col">
          <li class="nav-item">
            <%= link_to "Editar", edit_user_registration_path, :style => "background-color: transparent; color: white;", :class => "btn btn-link std-link-white" %>
          </li>
        </div>
        <% end %>
        <% if request.fullpath == "/users/edit" %>
        <div class="col">
            <li class="nav-item">
              <button id= "btnVoltar" class="btn btn-link std-link-white" type="link" style="background-color: transparent; color: white;" >Voltar
              </button>
          </li>
        </div>
        <% end %>
        <div class="col">
          <li class="nav-item">
            <%= link_to "Sair", destroy_user_session_path, method: :delete, :style => "background-color: transparent; color: white;", :class => "btn btn-link std-link-white" %>
          </li>
        </div>
      </div>
    </ul>
    <% elsif request.fullpath == "/users/sign_in" %>
      <%= image_tag "ScorpionLogo.png", :style => "width: 225px"%>
    <% else %>
    <%= image_tag "ScorpionLogo.png", :style => "width: 225px"%>
      <ul class="navbar-nav">
        <div class="row">
          <div class="col">
            <li class="nav-item">
              <a href="/users/sign_in" class="btn btn-link std-link-white"
                style="background-color: transparent; color: white;">Voltar
                para o login</a>
            </li>
          </div>
        </div>
      </ul>
    <% end %>
  </nav>
  <br /><br /><br /><br />
  <%= yield %>
    <!-- Modal que confirma o 'voltar' -->
    <div id="modalVoltar" class="modal fade rounded mr-2" tabindex="-1" role="alert">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="color: blueviolet;">
          <div class="row">
            <div class="col text-center">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title std-font-grey">Você tem certeza que deseja cancelar?</p>
              </div>
              <div class="actions container" >
                <div class="row justify-content-center">
                  <button style="margin-right: 2px;" type="button" class="btn btn-danger" data-dismiss="modal" > Não </button>
                  <%= link_to "Sim", :back, :class=> "btn btn-success", :style => "margin-left: 4px" %>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    $('#btnVoltar').click(function () {
      $('#modalVoltar').modal({ show: true });
    });
    </script>
</body>

</html>